# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1=np.random.randint(1,5,size=100)
s2=np.random.randint(1,4,size=100)
s3=np.random.randint(10000,30001,size=100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
df=pd.DataFrame([s1,s2,s3],).T
df

    0  1      2
0   1  3  13552
1   1  1  15559
2   4  2  28187
3   2  2  13442
4   1  3  18012
.. .. ..    ...
95  1  2  20203
96  1  1  22961
97  2  2  13932
98  2  1  27326
99  1  2  11481

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [5]:
df=df.rename(columns={0: 'beds', 1: 'baths', 2: 'price_sqr_meter'}) # para renombrar usamos .rename (columns={'nombre columna antigua':'nombre columna nueva'}
df

    beds  baths  price_sqr_meter
0      1      3            13552
1      1      1            15559
2      4      2            28187
3      2      2            13442
4      1      3            18012
..   ...    ...              ...
95     1      2            20203
96     1      1            22961
97     2      2            13932
98     2      1            27326
99     1      2            11481

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### [  ]  .concatenate?????

In [7]:
bigcolumn=np.concatenate([s1,s2,s3], axis=0) # concatenamos con numopy pq al inicio lo hice con numpy. Luego con pandas, creamos un Dataframe
bigcolumn=pd.DataFrame(bigcolumn)
bigcolumn

         0
0        1
1        1
2        4
3        2
4        1
..     ...
295  20203
296  22961
297  13932
298  27326
299  11481

[300 rows x 1 columns]